{% extends 'base.html' %}

{% block titulo %}
Pokémon
{% endblock %}

{% block conteudo %}

<h2 class="text-center mb-4">
    🎮 Buscar Pokémon
</h2>

<form action="/buscar_pokemon" method="GET">

    <input class="form-control mb-3"
           type="text"
           name="nome"
           placeholder="Digite o nome do Pokémon">

    <button class="btn btn-dark w-100"
            type="submit">

        Buscar

    </button>

</form>

<div class="text-center mt-4">

    <a href="/" class="btn btn-secondary">
        ← Voltar
    </a>

</div>

{% endblock %}