{% extends 'base.html' %}

{% block titulo %}
    Resultado País
{% endblock %}

{% block conteudo %}

    <h2 class="text-center mb-4">
        {{ pais.nome }}
    </h2>

    <img src="{{ pais.bandeira }}" width="300">

    <p><strong>Capital:</strong> {{ pais.capital }}</p>

    <p><strong>População:</strong> {{ pais.populacao }}</p>

    <p><strong>Continente:</strong> {{ pais.continente }}</p>

    <div class="text-center mt-4">

        <a href="/paises" class="btn btn-secondary">
            Voltar
        </a>

    </div>

{% endblock %}